Repository Hasnep/why-ascii-is-worse: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-yaml, toml-format, prettier, markdown-check, check-github-workflows, nix-format

.pre-commit-config.yaml:

repos:
  # General checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - name: Prevent committing to main
        id: no-commit-to-branch
        args: [--branch, main]
      - name: Make sure files end with a newline character
        id: end-of-file-fixer
      - name: Remove trailing whitespace
        id: trailing-whitespace
      - name: Check for files that would conflict on case-insensitive filesystem
        id: check-case-conflict
      - name: Check for merge conflicts
        id: check-merge-conflict
      - name: Check executable files have a shebang
        id: check-executables-have-shebangs
      - name: Check scripts with a shebang are executable
        id: check-shebang-scripts-are-executable
      - name: Don't allow adding large files
        id: check-added-large-files

  # YAML
  - repo: local
    hooks:
      - name: Format YAML files
        id: format-yaml
        language: system
        entry: prettier
        args: [--write]
        types: [yaml]

  # TOML
  - repo: local
    hooks:
      - name: Format TOML files
        id: toml-format
        language: system
        entry: taplo
        args: [format]
        types: [toml]

  # Markdown
  - repo: local
    hooks:
      - name: Format markdown files
        id: prettier
        language: system
        entry: prettier
        args: [--write]
        types: [markdown]
  - repo: local
    hooks:
      - name: Check markdown files
        id: markdown-check
        language: system
        entry: markdownlint-cli2
        args: [--config, .markdownlint.json]
        types: [markdown]

  # GitHub Actions
  - repo: local
    hooks:
      - name: Validate GitHub Actions workflow files
        id: check-github-workflows
        language: system
        entry: check-jsonschema
        files: \.github/workflows/
        types: [yaml]
        args: [--builtin-schema, vendor.github-workflows]

  # Nix
  - repo: local
    hooks:
      - name: Format Nix files
        id: nix-format
        language: system
        entry: nix
        args: [fmt]
        types: [nix]

Update wording
  src/why-ascii-is-worse.md
Due: prettier, markdown-check

Update metadata
  src/metadata.toml
Due: toml-format

Replace magic-nix-cache-action
  .github/workflows/build.yaml
  .github/workflows/run-pre-commit.yaml
Due: format-yaml, check-github-workflows

Remove .envrc
  .envrc
  .gitignore
Due: none

Build blogpost using Nix
  .github/workflows/build.yaml
  Justfile
  flake.nix
  src/blogpost.md
Due: format-yaml, prettier, markdown-check, check-github-workflows, nix-format
